* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #0a0a0a;
  color: #ffffff;
  min-height: 100vh;
  overflow-x: hidden;
}

.mono {
  font-family: "JetBrains Mono", monospace;
}

#root {
  min-height: 100vh;
}

textarea:focus,
button:focus {
  outline: none;
}

button {
  background-color: transparent;
}

button:focus,
button:focus-visible,
button:active {
  outline: none;
  background-color: transparent;
}

.icon-btn:hover {
  color: #ccc !important;
}

.wpm-control:hover .wpm-value {
  color: #fff !important;
}

.wpm-btn:hover {
  color: #ccc !important;
}
